@import 'tailwindcss';

@theme {
  --color-primary: #00b0ff;
  --color-primary-dark: #0081cb;
  --color-dark: #1a1a1a;
  --color-dark-lighter: #242424;
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25/1.875);
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply antialiased text-slate-900 bg-white dark:text-slate-100 dark:bg-dark;
  }

  h1 {
    @apply text-4xl font-bold tracking-tight;
  }

  h2 {
    @apply text-3xl font-semibold tracking-tight;
  }

  h3 {
    @apply text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply text-xl font-semibold tracking-tight;
  }

  h5 {
    @apply text-lg font-semibold;
  }

  h6 {
    @apply text-base font-semibold;
  }
}

.prose {
  color: rgb(51 65 85);
}

.prose :where(p):not(:where([class~='not-prose'] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where(img):not(:where([class~='not-prose'] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(h1):not(:where([class~='not-prose'] *)) {
  color: rgb(15 23 42);
  font-weight: 800;
  letter-spacing: -0.025em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose :where(h2):not(:where([class~='not-prose'] *)) {
  color: rgb(15 23 42);
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose :where(h3):not(:where([class~='not-prose'] *)) {
  color: rgb(15 23 42);
  font-weight: 600;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.5;
}

.prose :where(h4):not(:where([class~='not-prose'] *)) {
  color: rgb(15 23 42);
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose :where(ul):not(:where([class~='not-prose'] *)) {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(ol):not(:where([class~='not-prose'] *)) {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(li):not(:where([class~='not-prose'] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose :where(code):not(:where([class~='not-prose'] *)) {
  color: rgb(15 23 42);
  font-weight: 600;
  font-size: 0.875em;
}

.prose :where(pre):not(:where([class~='not-prose'] *)) {
  color: rgb(226 232 240);
  background-color: rgb(15 23 42);
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding: 0.8571429em 1.1428571em;
}

.prose :where(pre code):not(:where([class~='not-prose'] *)) {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.prose :where(a):not(:where([class~='not-prose'] *)) {
  color: rgb(0 176 255);
  text-decoration: underline;
  font-weight: 500;
}

.prose :where(a):not(:where([class~='not-prose'] *)):hover {
  color: rgb(0 129 203);
}

.prose :where(blockquote):not(:where([class~='not-prose'] *)) {
  font-weight: 500;
  font-style: italic;
  color: rgb(15 23 42);
  border-left-width: 0.25rem;
  border-left-color: rgb(148 163 184);
  quotes: '\201C' '\201D' '\2018' '\2019';
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}

.prose :where(table):not(:where([class~='not-prose'] *)) {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}

.prose :where(thead th):not(:where([class~='not-prose'] *)) {
  color: rgb(15 23 42);
  font-weight: 600;
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
  border-bottom-width: 1px;
  border-bottom-color: rgb(203 213 225);
}

.prose :where(tbody tr):not(:where([class~='not-prose'] *)):not(:first-child) {
  border-top-width: 1px;
  border-top-color: rgb(203 213 225);
}

.prose :where(tbody td):not(:where([class~='not-prose'] *)) {
  vertical-align: top;
  padding: 0.5714286em;
}

.dark .prose {
  color: rgb(203 213 225);
}

.dark .prose :where(h1):not(:where([class~='not-prose'] *)),
.dark .prose :where(h2):not(:where([class~='not-prose'] *)),
.dark .prose :where(h3):not(:where([class~='not-prose'] *)),
.dark .prose :where(h4):not(:where([class~='not-prose'] *)) {
  color: rgb(226 232 240);
}

.dark .prose :where(code):not(:where([class~='not-prose'] *)) {
  color: rgb(226 232 240);
}

.dark .prose :where(a):not(:where([class~='not-prose'] *)) {
  color: rgb(0 176 255);
}

.dark .prose :where(a):not(:where([class~='not-prose'] *)):hover {
  color: rgb(0 129 203);
}

.dark .prose :where(blockquote):not(:where([class~='not-prose'] *)) {
  color: rgb(226 232 240);
  border-left-color: rgb(71 85 105);
}

.dark .prose :where(thead th):not(:where([class~='not-prose'] *)) {
  color: rgb(226 232 240);
  border-bottom-color: rgb(51 65 85);
}

.dark .prose :where(tbody tr):not(:where([class~='not-prose'] *)):not(:first-child) {
  border-top-color: rgb(51 65 85);
}

.prose-sm {
  font-size: 0.875rem;
  line-height: 1.7142857;
}

.prose-sm :where(p):not(:where([class~='not-prose'] *)) {
  margin-top: 1.1428571em;
  margin-bottom: 1.1428571em;
}

.prose-sm :where(h1):not(:where([class~='not-prose'] *)) {
  font-size: 2.1428571em;
  margin-top: 0;
  margin-bottom: 0.8em;
  line-height: 1.2;
}

.prose-sm :where(h2):not(:where([class~='not-prose'] *)) {
  font-size: 1.4285714em;
  margin-top: 1.6em;
  margin-bottom: 0.8em;
  line-height: 1.4;
}

.prose-sm :where(h3):not(:where([class~='not-prose'] *)) {
  font-size: 1.2857143em;
  margin-top: 1.4285714em;
  margin-bottom: 0.5714286em;
  line-height: 1.5;
}

.max-w-none {
  max-width: none;
}
