{{ if not (.Page.Scratch.Get "hasAdmonitions")}}
{{ .Page.Scratch.Set "hasAdmonitions" "True" }}
<style>
    {{ $defaultBgColor := "#00bcf6"}}
    .admonition{
        border-radius: 5px;
        padding: 0px;
        border-left: 5px solid {{$defaultBgColor}};
        box-shadow: 0 0 .5rem .2rem #00000025;
    }
    .admonition-title-container{
        background-color: {{$defaultBgColor}};
        border-top-right-radius: 5px;
    }
    .admonition-title {
        font-weight: bolder;
        font-size: large;
        backdrop-filter: grayscale(50%) brightness(150%);
        -webkit-backdrop-filter: grayscale(50%) brightness(150%);
        padding: 5px 0 5px 30px;
        border-top-right-radius: 5px;
    }
    @media (prefers-color-scheme: dark) {
        .admonition-title {
            backdrop-filter: grayscale(40%) brightness(40%);
            -webkit-backdrop-filter: grayscale(40%) brightness(40%);
        }
    }
    .admonition-content{
        padding: 10px 0 10px 15px
    }
</style>
{{ end }}

<div class="admonition" {{if .Get "bg-color"}}style="border-left: 5px solid {{ .Get "bg-color" }};"{{end}}>
    <div class="admonition-title-container" {{if .Get "bg-color"}}style="background-color: {{ .Get "bg-color" }};"{{end}}>
        <div class="admonition-title">
            {{ .Get "title" | default "Tip" }}
        </div>
    </div>
        <div class="admonition-content">{{ printf "%s" .Inner | markdownify }}</div>
</div>
